<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.offcn.crm.dao.SysDicMapper" >
  <resultMap id="BaseResultMap" type="com.offcn.crm.bean.SysDic" >
    <id column="dID" property="did" jdbcType="INTEGER" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="columnname" property="columnname" jdbcType="VARCHAR" />
    <result column="dcode" property="dcode" jdbcType="VARCHAR" />
    <result column="dvalue" property="dvalue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dID, tablename, columnname, dcode, dvalue
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.offcn.crm.bean.SysDicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dic
    where dID = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dic
    where dID = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.crm.bean.SysDicExample" >
    delete from sys_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.crm.bean.SysDic" >
    insert into sys_dic (dID, tablename, columnname, 
      dcode, dvalue)
    values (#{did,jdbcType=INTEGER}, #{tablename,jdbcType=VARCHAR}, #{columnname,jdbcType=VARCHAR}, 
      #{dcode,jdbcType=VARCHAR}, #{dvalue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.crm.bean.SysDic" >
    insert into sys_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        dID,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="columnname != null" >
        columnname,
      </if>
      <if test="dcode != null" >
        dcode,
      </if>
      <if test="dvalue != null" >
        dvalue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="columnname != null" >
        #{columnname,jdbcType=VARCHAR},
      </if>
      <if test="dcode != null" >
        #{dcode,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null" >
        #{dvalue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.crm.bean.SysDicExample" resultType="java.lang.Integer" >
    select count(*) from sys_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dic
    <set >
      <if test="record.did != null" >
        dID = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.tablename != null" >
        tablename = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.columnname != null" >
        columnname = #{record.columnname,jdbcType=VARCHAR},
      </if>
      <if test="record.dcode != null" >
        dcode = #{record.dcode,jdbcType=VARCHAR},
      </if>
      <if test="record.dvalue != null" >
        dvalue = #{record.dvalue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dic
    set dID = #{record.did,jdbcType=INTEGER},
      tablename = #{record.tablename,jdbcType=VARCHAR},
      columnname = #{record.columnname,jdbcType=VARCHAR},
      dcode = #{record.dcode,jdbcType=VARCHAR},
      dvalue = #{record.dvalue,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.crm.bean.SysDic" >
    update sys_dic
    <set >
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="columnname != null" >
        columnname = #{columnname,jdbcType=VARCHAR},
      </if>
      <if test="dcode != null" >
        dcode = #{dcode,jdbcType=VARCHAR},
      </if>
      <if test="dvalue != null" >
        dvalue = #{dvalue,jdbcType=VARCHAR},
      </if>
    </set>
    where dID = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.crm.bean.SysDic" >
    update sys_dic
    set tablename = #{tablename,jdbcType=VARCHAR},
      columnname = #{columnname,jdbcType=VARCHAR},
      dcode = #{dcode,jdbcType=VARCHAR},
      dvalue = #{dvalue,jdbcType=VARCHAR}
    where dID = #{did,jdbcType=INTEGER}
  </update>
</mapper>