<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置数据库连接池信息 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://106.13.108.29:3306/mysql" />
				<property name="username" value="root" />
				<property name="password" value="7758521" />
			</dataSource>
		</environment>
	</environments>
	<!-- 加载MyBatis的SQL映射文件 -->
	<mappers>
		<mapper resource="student.xml" />
	</mappers>
</configuration>